extends layout

block content
  .alert.alert-info
    | Request is processing. This may take a few minutes. Please visit
    |  
    a(href="https://resources.azure.com", target="_blank") https://resources.azure.com
    |  
    | to track the process.
  a.btn.btn-default(href="/") Back to form
